pandas
numpy==2.4.6
scikit-learn==1.8.0
xgboost
matplotlib
seaborn
scipy==1.17.1
scikit-posthocs==0.16.1
colorama
joblib
mysql-connector-python
python-dotenv
openpyxl
tabulate
imbalanced-learn==0.14.2
PyYAML
pytest
